<div class="card table" >
    <div class="mb-3">
        <p-button type="button" icon="pi pi-refresh"  styleClass="p-button-text" ></p-button>
    </div>
    <p-table [columns]="formattedCols" [value]="launches" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [responsive]="true" [responsiveLayout]="'stack'" [breakpoint]="'700px'"
        currentPageReportTemplate="{first} a {last} de {totalRecords} lançamentos" [rowsPerPageOptions]="[3,4,5]" styleClass="p-datatable-striped" >
        <ng-template pTemplate="header" let-columns >
            <tr>
                <th style="width:25%" *ngFor="let headerCol of columns">
                    {{headerCol.header}}
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-launch>
            <tr pSelectableRow>
                <td>
                    <span >
                        {{launch.pessoa}}
                    </span>
                </td>
                <td>
                    <span >
                        {{launch.descricao}}
                    </span>
                </td>
                <td>
                    <span >
                        {{launch.dataVencimento | date: 'dd/MM/yyyy'}}
                    </span>
                </td>
                <td>
                    <span >
                        {{launch.dataPagamento}}
                    </span>
                </td>
                <td>
                    <span [style.color]=" launch.tipo == 'DESPESA' ? 'red' : 'green' ">
                        {{launch.valor | currency: 'BRL': true: '1.2-2' }}
                    </span>
                </td>
                <td class="inline-childs">
                    <a pButton class="fa-icon-container fa-icon-std-sz" pTooltip="Editar" tooltipPosition="top">
                        <fa-icon icon="pencil" class="fa-icon-style"></fa-icon>
                    </a>
                    <button pButton  class="fa-icon-container fa-icon-std-sz" pTooltip="Excluir" tooltipPosition="top">
                        <fa-icon icon="trash-can" class="fa-icon-style"></fa-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>