<div class="container">
    <form action="" #launchForm="ngForm" id="new-launch">
        <h1 class="h1 font-semibold">Novo Lançamento</h1>

        <div class="field">
            <p-selectButton [options]="stateOptions"  name="typeValue" optionLabel="label" optionValue="value" [(ngModel)]="typeValue"></p-selectButton>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 md:col-3">
                <label for="dueDate" style="display: block;">Vencimento</label>
                <p-calendar name="dueDate" dateFormat="dd/mm/yy" [readonlyInput]="true" ngModel class="surface-border"></p-calendar>
            </div>
            <div class="field col-12 md:col-3">
                <label for="paymentDate" style="display: block;">{{typeValue === 'RECEITA' ? "Recebimento" : "Pagamento" }}</label>
                <p-calendar name="paymentDate" dateFormat="dd/mm/yy" [(ngModel)]="paymentDate"></p-calendar>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 md:col-9">
                <label for="description" style="display: block;">Descrição</label>

                <input pInputText type="text" name="description" ngModel #description="ngModel" required minlength="5 " class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">

                <app-form-message [field]="description" error="required" message="Informe a descrição"></app-form-message>
                <app-form-message [field]="description" error="minlength" message="Mínimo de 5 caracteres"></app-form-message>
            </div>
                
            <div class="field col-12 md:col-3">
                <label for="valor" style="display: block;">Valor</label>
                <p-inputNumber inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 md:col-3">
                <label for="category" style="display: block;">Categoria</label>
                <p-dropdown name="category" placeholder="selecione..." [options]="categories" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
            </div>

            <div class="field col-12 md:col-3">
                <label for="dataVencimento" style="display: block;">Pessoa</label>
                <p-dropdown placeholder="selecione..." optionLabel="label" [options]="persons" [filter]="true" optionValue="value" [showClear]="true"></p-dropdown>
            </div>

            <div class="field col-12 md:col-12">
                <label for="" style="display: block;">Observação</label>
                <textarea [rows]="7" [cols]="30" pInputTextarea [autoResize]="true" style="font-size: 1.4rem"></textarea>
            </div>

            <div class="field inline-childs">
                <p-button type="submit" >Salvar</p-button>
                <p-button type="button">Novo</p-button>
                <a href="">
                    <p-button styleClass="p-button-link">Voltar para pesquisa</p-button>
                </a>
            </div>
        </div>
    </form>
</div>