:host ::ng-deep .p-button-label,
:host ::ng-deep .p-dropdown-label,
:host ::ng-deep .p-dropdown-item {
    font-size: 1.4rem !important;
}
  
:host ::ng-deep .p-calendar,
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-dropdown  {
  width: 100%;
  height: 30px;
  border-color: #e0e0e0 !important;
}

:host ::ng-deep .p-dropdown-label {
  transform: translateY(-.5rem);
}

.inline-childs > .p-button {
  min-width: 30rem !important;
}